spring:
  application:
    name: email-service

  mail:
    host: smtp.gmail.com
    port: 587
    username: ventas.pymes25@gmail.com
    password: jxfz zgpa yikp ahmt
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: email-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: earliest
    listener:
      ack-mode: record

server:
  port: ${SERVER_PORT:8084}

eureka:
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true